/* 
	Basic style for www.earth-be.com/index.html
*/

p{
	padding-right: 60px;
	padding-left: 30px;
	line-height: 180%;
}

ul{
	list-style-type: none;
	padding-left: 10px;
}

li{
	font-weight: bold;
}

/*
#topBanner{
	width: 900px;
	height: 180px
}
*/

#topNews{
	width: 100%;
	float: left;
}

#text{
	width: 80%;
	float: left;
}

#images{
	width: 20%
	text-align: right;
	float: right;
	padding-right: 0px;
}

#news{
	width: 23%;
	height: 400px;
	padding-left: 10px;
	float: left;
	border-left: dashed 1px;
}

#detailLink{
	text-align: right;
}

.newsText{
	padding-left: 10px;
}

.newsImage{
	width: 150px;
	height: 256;
	border: 0;
}

